
<!-- API YOUTUBE VIDEO NO SONG -->

<!--
<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

-->

<!-- API YOUTUBE + SONG -->


<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/cU8HrO7XuiE?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=cU8HrO7XuiE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


<!-- CDN BOOTSTRAP -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>






<div id="vidtop-content">
<div class="vid-info">

<h1>Emails</h1>

<table>
  <thead>
    <tr>
      <th>Object</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  



  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.object %></td>
        <td><%= email.body %></td>
        <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %>


